@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #001233;
  color: #ff595a;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav ul {
  display: flex;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  min-width: 150px;
}
nav ul li a {
  color: #cac0b3;
  text-decoration-color: #ff595a;
  text-underline-offset: 0.5em;
}
nav ul li a span {
  font-size: 2rem;
  color: #cac0b3;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
footer img {
  width: 32px;
}
footer .app-name,
footer .app-title {
  position: absolute;
  top: 0;
}
footer .app-name {
  left: -15em;
}
footer .app-title {
  right: -15em;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  padding: 1em;
  min-height: 100svh;
  max-width: 1200px;
}

.index-page {
  display: grid;
  gap: 72px;
  place-items: center;
}
.index-page span {
  font-weight: 800;
  letter-spacing: 4px;
}

.all-items,
.all-categories,
.item-details,
.category-details,
.category-items {
  margin: 2em 0;
  display: grid;
  gap: 16px;
  place-items: center;
}
.all-items .item-details-table,
.all-items .category-details-table,
.all-categories .item-details-table,
.all-categories .category-details-table,
.item-details .item-details-table,
.item-details .category-details-table,
.category-details .item-details-table,
.category-details .category-details-table,
.category-items .item-details-table,
.category-items .category-details-table {
  max-width: 600px;
}
.all-items .item-details-table th,
.all-items .category-details-table th,
.all-categories .item-details-table th,
.all-categories .category-details-table th,
.item-details .item-details-table th,
.item-details .category-details-table th,
.category-details .item-details-table th,
.category-details .category-details-table th,
.category-items .item-details-table th,
.category-items .category-details-table th {
  text-align: initial;
}
.all-items .item-details-table td,
.all-items .category-details-table td,
.all-categories .item-details-table td,
.all-categories .category-details-table td,
.item-details .item-details-table td,
.item-details .category-details-table td,
.category-details .item-details-table td,
.category-details .category-details-table td,
.category-items .item-details-table td,
.category-items .category-details-table td {
  line-height: 1.75;
}
.all-items .buttons,
.all-categories .buttons,
.item-details .buttons,
.category-details .buttons,
.category-items .buttons {
  display: flex;
  gap: 48px;
}
.all-items .buttons img,
.all-categories .buttons img,
.item-details .buttons img,
.category-details .buttons img,
.category-items .buttons img {
  background-color: initial;
  filter: invert(83%) sepia(5%) saturate(549%) hue-rotate(354deg) brightness(92%) contrast(93%);
  width: 48px;
}
.all-items th,
.all-items tr,
.all-items td,
.all-categories th,
.all-categories tr,
.all-categories td,
.item-details th,
.item-details tr,
.item-details td,
.category-details th,
.category-details tr,
.category-details td,
.category-items th,
.category-items tr,
.category-items td {
  padding: 1em;
  font-size: 0.9rem;
}
.all-items .index-no,
.all-items .category,
.all-items .category-name,
.all-items .category-description,
.all-items .item-count,
.all-categories .index-no,
.all-categories .category,
.all-categories .category-name,
.all-categories .category-description,
.all-categories .item-count,
.item-details .index-no,
.item-details .category,
.item-details .category-name,
.item-details .category-description,
.item-details .item-count,
.category-details .index-no,
.category-details .category,
.category-details .category-name,
.category-details .category-description,
.category-details .item-count,
.category-items .index-no,
.category-items .category,
.category-items .category-name,
.category-items .category-description,
.category-items .item-count {
  text-align: center;
}
.all-items a,
.all-categories a,
.item-details a,
.category-details a,
.category-items a {
  color: #cac0b3;
  text-decoration-color: #ff595a;
  text-underline-offset: 0.5em;
}

.create-category {
  margin: 2em 0;
  display: grid;
  gap: 32px;
  place-items: center;
}
.create-category .form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 1em;
}
.create-category .form-control input,
.create-category .form-control textarea {
  min-width: 300px;
  border: 2px solid #cac0b3;
  color: #cac0b3;
  border-radius: 8px;
  padding: 1em;
  line-height: 1.5;
}
.create-category .form-control input::-moz-placeholder, .create-category .form-control textarea::-moz-placeholder {
  color: #ff595a;
}
.create-category .form-control input::placeholder,
.create-category .form-control textarea::placeholder {
  color: #ff595a;
}
.create-category .form-control textarea {
  resize: vertical;
}
.create-category .submit-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.create-category .submit-button button {
  min-width: 100px;
  min-height: 40px;
  padding: 0.75em;
  border: 2px solid #cac0b3;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
}
.create-category .errors p {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}/*# sourceMappingURL=style.css.map */