@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$bg-colour: #001233;
$primary-colour: #ff595a;
$primary-colour-icon: invert(66%) sepia(74%) saturate(4990%) hue-rotate(325deg)
  brightness(101%) contrast(108%);
$secondary-colour: #cac0b3;
$secondary-colour-icon: invert(83%) sepia(5%) saturate(549%) hue-rotate(354deg)
  brightness(92%) contrast(93%);
$main-font: 'Noto Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg-colour;
  color: $primary-colour;
  font-family: $main-font;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

nav {
  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      min-width: 150px;

      a {
        color: $secondary-colour;
        text-decoration-color: $primary-colour;
        text-underline-offset: 0.5em;

        span {
          font-size: 2rem;
          color: $secondary-colour;
        }
      }
    }
  }
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  img {
    width: 32px;
  }

  .app-name,
  .app-title {
    position: absolute;
    top: 0;
  }

  .app-name {
    left: -15em;
  }

  .app-title {
    right: -15em;
  }
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  padding: 1em;
  min-height: 100svh;
  max-width: 1200px;
}

.index-page {
  display: grid;
  gap: 72px;
  place-items: center;

  span {
    font-weight: 800;
    letter-spacing: 4px;
  }
}

.all-items,
.all-categories,
.item-details,
.category-details,
.category-items,
.delete-category {
  margin: 2em 0;
  display: grid;
  gap: 16px;
  place-items: center;

  .item-details-table,
  .category-details-table {
    max-width: 600px;

    th {
      text-align: initial;
    }

    td {
      line-height: 1.75;
    }
  }

  .buttons {
    display: flex;
    gap: 48px;

    img {
      background-color: initial;
      filter: $secondary-colour-icon;
      width: 48px;
    }
  }

  th,
  tr,
  td {
    padding: 1em;
    font-size: 0.9rem;
  }

  .index-no,
  .category,
  .category-name,
  .category-description,
  .item-count {
    text-align: center;
  }

  a {
    color: $secondary-colour;
    text-decoration-color: $primary-colour;
    text-underline-offset: 0.5em;
  }
}

.create-category,
.create-item,
.update-category,
.update-item,
.delete-item,
.delete-category {
  margin: 2em 0;
  display: grid;
  gap: 32px;
  place-items: center;

  .form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 1em;

    input,
    textarea,
    select {
      min-width: 300px;
      border: 2px solid $secondary-colour;
      color: $secondary-colour;
      border-radius: 8px;
      padding: 1em;
      line-height: 1.5;

      &:focus-visible {
        outline-color: $primary-colour;
      }
    }

    textarea {
      resize: vertical;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      appearance: textfield;
      -moz-appearance: textfield;
    }
  }

  p {
    margin: 2em 0;
    text-align: center;
  }

  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 2em;

    button {
      min-width: 100px;
      min-height: 40px;
      padding: 0.75em;
      border: 2px solid $secondary-colour;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 1px;
      cursor: pointer;

      &:focus-visible {
        outline-color: $primary-colour;
      }
    }
  }

  .item-to-be-deleted,
  .category-to-be-deleted,
  h3 {
    text-align: center;

    a {
      color: $secondary-colour;
      text-decoration-color: $primary-colour;
      text-underline-offset: 0.5em;
    }
  }

  .items-to-be-deleted-first {
    table {
      margin: auto;
    }
    .warning {
      text-align: center;
      margin-bottom: 1em;
    }
  }

  .errors {
    p {
      color: red;
      text-align: center;
      margin-bottom: 1em;
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

/* 
Mobile media query
*/

@media (width <= 700px) {
  nav {
    ul {
      gap: 4px;

      li {
        min-width: 60px;
        max-width: 60px;

        a {
          font-size: 0.7rem;
          text-align: center;

          span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  footer {
    gap: 8px;

    img {
      width: 24px;
    }

    .app-name,
    .app-title {
      display: none;
      top: 0;
    }
  }

  .container {
    padding: 1em 0;
  }

  .index-page {
    gap: 64px;
  }

  .all-items,
  .all-categories,
  .item-details,
  .category-details,
  .category-items,
  .delete-category {
    gap: 8px;

    .item-details-table,
    .category-details-table {
      td {
        line-height: 1.6;
      }
    }

    .buttons {
      gap: 32px;

      img {
        width: 32px;
      }
    }

    th,
    tr,
    td {
      padding: 0.75em;
      font-size: 0.8rem;
    }
  }

  .create-category,
  .create-item,
  .update-category,
  .update-item,
  .delete-item,
  .delete-category {
    margin: 2em 0;
    gap: 32px;

    .form-control {
      display: grid;
      place-items: center;
      gap: 8px;
    }

    p {
      margin: 1em 0;
    }
  }

  main {
    margin: 0 0.25em;
  }
}
